# Data Analysis with pandas

## The DataFrame Class

### First Steps with the DataFrame Class

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame([10, 20, 30, 40],
                  columns=['numbers'],
                  index=['a', 'b', 'c', 'd'])

In [3]:
df

   numbers
a       10
b       20
c       30
d       40

In [4]:
df.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [5]:
df.columns

Index(['numbers'], dtype='object')

In [6]:
df.loc['c']

numbers    30
Name: c, dtype: int64

In [7]:
df.loc[['a', 'd']]

   numbers
a       10
d       40

In [8]:
df.iloc[1:3]

   numbers
b       20
c       30

In [9]:
df.sum()

numbers    100
dtype: int64

In [10]:
df.apply(lambda x: x ** 2)

   numbers
a      100
b      400
c      900
d     1600

In [11]:
df ** 2

   numbers
a      100
b      400
c      900
d     1600

In [12]:
df['floats'] = (1.5, 2.5, 3.5, 4.5) # add a new column
df

   numbers  floats
a       10     1.5
b       20     2.5
c       30     3.5
d       40     4.5

In [13]:
df['floats']

a    1.5
b    2.5
c    3.5
d    4.5
Name: floats, dtype: float64

In [23]:
import pandas as pd

# 기존 DataFrame 생성
df1 = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})

# 추가할 데이터 생성 (DataFrame, Series, dict 형식 등 가능)
df2 = pd.DataFrame({'A': [7, 8, 9], 'B': [10, 11, 12]})

# 데이터 추가
df_result = df1.append(df2, ignore_index=True)

AttributeError: 'DataFrame' object has no attribute 'append'