# Data Types and Structures

## Basic Data Types

### Integers

In [1]:
a = 10
type(a)

int

In [2]:
a.bit_length()

4

In [3]:
a = 100000000
a.bit_length()

27

In [4]:
googol = 10**100
googol

10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [5]:
googol.bit_length()

333

In [6]:
1 + 4

5

In [7]:
1 / 4

0.25

In [8]:
type(1 / 4)

float

### Floats

In [9]:
1.6 / 4

0.4

In [10]:
type(1.6 / 4)

float

In [12]:
b = 0.35
type(b)

float

In [13]:
b + 0.1

0.44999999999999996

In [14]:
c = 0.5
c.as_integer_ratio()

(1, 2)

In [15]:
b.as_integer_ratio()

(3152519739159347, 9007199254740992)

In [16]:
import decimal
from decimal import Decimal

In [17]:
decimal.getcontext()

Context(prec=28, rounding=ROUND_HALF_EVEN, Emin=-999999, Emax=999999, capitals=1, clamp=0, flags=[], traps=[InvalidOperation, DivisionByZero, Overflow])

In [18]:
d = Decimal(1) / Decimal(11)
d

Decimal('0.09090909090909090909090909091')

In [19]:
decimal.getcontext().prec = 4

In [20]:
e = Decimal(1) / Decimal(11)
e

Decimal('0.09091')

In [21]:
decimal.getcontext().prec = 50

In [22]:
f = Decimal(1) / Decimal(11)
f

Decimal('0.090909090909090909090909090909090909090909090909091')

In [23]:
g = d + e + f
g

Decimal('0.27272818181818181818181818181909090909090909090909')

### Booleans

In [24]:
import keyword

In [25]:
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [26]:
4 > 3

True

In [27]:
type(4 > 3)

bool

In [28]:
type(False)

bool

In [29]:
4 >= 3

True

In [30]:
4 < 3

False

In [31]:
4 <= 3

False

In [34]:
4 == 3

False

In [35]:
4 != 3

True

In [36]:
True and True

True

In [37]:
True and False

False

In [38]:
False and False

False

In [39]:
True or True

True

In [40]:
True or False

True

In [41]:
False or False

False

In [42]:
not True

False

In [43]:
not False

True

In [44]:
(4 > 3) and (2 > 3)

False

In [45]:
(4 == 3) or (2 < 3)

True

In [46]:
not (4 > 3)

False

In [47]:
(not (4 != 4)) and (2 == 3)

False

In [48]:
if 4 > 3:
    print("condition is True")

condition is True

In [49]:
i = 0
while i < 4:
    print('condition true, i=', i)
    i += 1

condition true, i= 0
condition true, i= 1
condition true, i= 2
condition true, i= 3

In [50]:
int(True)

1

In [51]:
int(False)

0

In [52]:
float(True)

1.0

In [53]:
float(False)

0.0

In [54]:
bool(0)

False

In [55]:
bool(0.0)

False

In [56]:
bool(1)

True

In [57]:
bool(10.5)

True

In [58]:
bool(-2)

True

In [59]:
bool(-2)

True

### Strings

In [60]:
t = 'this is a string object'

In [61]:
t.capitalize()

'This is a string object'

In [62]:
t.split()

['this', 'is', 'a', 'string', 'object']

In [63]:
t.find('string')

10

In [64]:
t.find('Python')

-1

In [65]:
t.replace(' ', '|')

'this|is|a|string|object'

In [66]:
'http://www.python.org'.strip('htp:/')

'www.python.org'

### Excursion: Printing and String Replacements

In [67]:
print('Python for Finance')

Python for Finance

In [68]:
print(t)

this is a string object

In [69]:
i = 0
while i < 4:
    print(i)
    i += 1

0
1
2
3

In [70]:
i = 0
while i < 4:
    print(i, end='|')
    i += 1

0|1|2|3|

In [71]:
'this is an integer %d' % 15

'this is an integer 15'

In [72]:
'this is an integer %4d' % 15

'this is an integer   15'

In [73]:
'this is an integer %04d' % 15

'this is an integer 0015'

In [74]:
'this is a float %f' % 15.12345

'this is a float 15.123450'

In [75]:
'this is a float %.2f' % 15.12345

'this is a float 15.12'

In [76]:
'this is a float %8f' % 15.12345

'this is a float 15.123450'

In [77]:
'this is a float %8.2f' % 15.12345

'this is a float    15.12'

In [78]:
'this is a float %08.2f' % 15.12345

'this is a float 00015.12'

In [79]:
'this is a string %s' % 'Python'

'this is a string Python'

In [80]:
'this is a string %10s' % 'Python'

'this is a string     Python'

In [81]:
'this is an integer {:d}'.format(15)

'this is an integer 15'

In [82]:
'this is an integer {:4d}'.format(15)

'this is an integer   15'

In [85]:
'this is an integer {:04d}'.format(15)

'this is an integer 0015'

In [86]:
'this is a float {:f}'.format(15.12345)

'this is a float 15.123450'

In [87]:
'this is a float {:.2f}'.format(15.12345)

'this is a float 15.12'

In [88]:
'this is a float {:8f}'.format(15.12345)

'this is a float 15.123450'

In [89]:
'this is a float {:8.2f}'.format(15.12345)

'this is a float    15.12'

In [90]:
'this is a float {:08.2f}'.format(15.12345)

'this is a float 00015.12'

In [91]:
'this is a string {:s}'.format('Python')

'this is a string Python'

In [98]:
'this is a string {:10s}'.format('Python')

'this is a string Python    '

In [99]:
'this is a string {:>10s}'.format('Python')

'this is a string     Python'

In [100]:
'this is a string {:^10s}'.format('Python')

'this is a string   Python  '

In [104]:
i = 0
while i < 4:
    print('the number is %d' % i)
    i += 1

the number is 0
the number is 1
the number is 2
the number is 3

In [105]:
i = 0
while i < 4:
    print('the number is {:d}'.format(i))
    i += 1

the number is 0
the number is 1
the number is 2
the number is 3

### Excurion: Regular Expressions

In [107]:
import re

In [106]:
series = """
'01/18/2014 13:00:00', 100, '1st';
'01/18/2014 13:30:00', 110, '2nd';
'01/18/2014 14:00:00', 120, '3rd'
"""

In [108]:
dt = re.compile("'[0-9/:\s]+'")

In [110]:
result = dt.findall(series)
result

["'01/18/2014 13:00:00'", "'01/18/2014 13:30:00'", "'01/18/2014 14:00:00'"]

In [111]:
from datetime import datetime
pydt = datetime.strptime(result[0].replace("'", ""),
                            '%m/%d/%Y %H:%M:%S')
pydt

datetime.datetime(2014, 1, 18, 13, 0)

In [112]:
print(pydt)

2014-01-18 13:00:00

In [113]:
print(type(pydt))

<class 'datetime.datetime'>

## Basic Data Structures

### Tuples

In [114]:
t = (1, 2.5, 'data')
type(t)

tuple

In [115]:
t = 1, 2.5, 'data'
type(t)

tuple

In [116]:
t[2]

'data'

In [117]:
type(t[2])

str

In [118]:
t.count('data')

1

In [119]:
t.index(1)

0

### Lists

In [121]:
l = [1, 2.5, 'data']
l[2]

'data'

In [144]:
l = list(t)
l

[1, 2.5, 'data']

In [145]:
type(l)

list

In [146]:
l.append([4, 3])
l

[1, 2.5, 'data', [4, 3]]

In [147]:
l.extend([1.0, 1.5, 2.0])
l

[1, 2.5, 'data', [4, 3], 1.0, 1.5, 2.0]

In [148]:
l.insert(1, 'insert')
l

[1, 'insert', 2.5, 'data', [4, 3], 1.0, 1.5, 2.0]

In [149]:
l.insert(10, 'insert10')
l

[1, 'insert', 2.5, 'data', [4, 3], 1.0, 1.5, 2.0, 'insert10']

In [150]:
l.remove('data')
l

[1, 'insert', 2.5, [4, 3], 1.0, 1.5, 2.0, 'insert10']

In [151]:
p = l.pop(3)
print(l, p)

[1, 'insert', 2.5, 1.0, 1.5, 2.0, 'insert10'] [4, 3]

In [152]:
l[2:5]

[2.5, 1.0, 1.5]

### Excursion: Control Structures

In [153]:
for element in l[2:5]:
    print(element ** 2)

6.25
1.0
2.25

In [154]:
r = range(0, 8, 1)
r

range(0, 8)

In [155]:
type(r)

range

In [156]:
for i in range(2, 5):
    print(l[i] ** 2)

6.25
1.0
2.25

In [157]:
for i in range(1, 10):
    if i % 2 == 0:
        print('%d is even' % i)
    elif i % 3 == 0:
        print('%d is multiple of 3' % i)
    else:
        print('%d is odd' % i)

1 is odd
2 is even
3 is multiple of 3
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is multiple of 3

In [158]:
total = 0
while total < 100:
    total += 1
print(total)

100

In [159]:
m = [i ** 2 for i in range(5)]
m

[0, 1, 4, 9, 16]

### Excursion: Functional Programming

In [160]:
def f(x):
    return x ** 2
f(2)

4

In [161]:
def even(x):
    return x % 2 == 0
even(3)

False

In [162]:
list(map(even, range(10)))

[True, False, True, False, True, False, True, False, True, False]

In [163]:
list(map(lambda x: x ** 2, range(5)))

[0, 1, 4, 9, 16]

In [165]:
list(filter(even, range(10)))

[0, 2, 4, 6, 8]

### Dicts

In [166]:
d = {
    'Name': 'Angela Merkel',
    'Country': 'Germany',
    'Profession': 'Chancelor',
    'Age': 64
}
type(d)

dict

In [167]:
print(d['Name'], d['Age'])

Angela Merkel 64

In [168]:
d.keys()

dict_keys(['Name', 'Country', 'Profession', 'Age'])

In [169]:
d.values()

dict_values(['Angela Merkel', 'Germany', 'Chancelor', 64])

In [170]:
d.items()

dict_items([('Name', 'Angela Merkel'), ('Country', 'Germany'), ('Profession', 'Chancelor'), ('Age', 64)])

In [171]:
birthday = True
if birthday is True:
    d['Age'] += 1
print(d['Age'])

65

In [172]:
for item in d.items():
    print(item)

('Name', 'Angela Merkel')
('Country', 'Germany')
('Profession', 'Chancelor')
('Age', 65)

In [173]:
for value in d.values():
    print(type(value))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'int'>

### Sets

In [174]:
s = set(['u', 'd', 'ud', 'du', 'd', 'du'])
s

{'d', 'du', 'u', 'ud'}

In [175]:
t = set(['d', 'dd', 'uu', 'u'])

In [176]:
s.union(t)

{'d', 'dd', 'du', 'u', 'ud', 'uu'}

In [177]:
s.intersection(t)

{'d', 'u'}

In [178]:
s.difference(t)

{'du', 'ud'}

In [179]:
t.difference(s)

{'dd', 'uu'}

In [180]:
s.symmetric_difference(t)

{'dd', 'du', 'ud', 'uu'}

In [181]:
from random import randint
l = [randint(0, 10) for i in range(1000)]
len(l)

1000

In [182]:
l[:20]

[10, 4, 10, 2, 10, 2, 2, 2, 7, 0, 10, 1, 8, 1, 2, 10, 1, 4, 0, 2]

In [183]:
s = set(l)
s

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}